@charset "utf-8";
@import "reset.css";
@import "tab-menu--fixed.css";
@import "swiper-custom.css";
@import "toggle-box.css";

/* tab-menu--fixed [S] */

  nav{
    
    
    top:0;
}
.food .Tab {
  width: 100%;
  
  align-items: center;
  justify-

}

.food .Tab li {
  width: 20%;
  background: #000;
  font-size: 3.6000vw;
  
  height: 16.0000vw;
  
  line-height: 3.0000vw;
  cursor: pointer;
  
  align-items: center;
  justify-
  flex-direction: column;

}



.food .Tab li:nth-child(1):hover
{
  background: #122E16;
}
.food .Tab li:nth-child(2):hover
{
  background: #EA5728;
}.food .Tab li:nth-child(3):hover
{
  background: #8C86BF;
}.food .Tab li:nth-child(4):hover
{
  background: #87B9CA;
}.food .Tab li:nth-child(5):hover
{
  background: #8A4B52;
}


.food .Tab li:nth-child(1).on
{
  background: #122E16;
}
.food .Tab li:nth-child(2).on
{
  background: #EA5728;
}.food .Tab li:nth-child(3).on
{
  background: #8C86BF;
}.food .Tab li:nth-child(4).on{
  background: #87B9CA;
}
.food .Tab li:nth-child(5).on
{
  background: #8A4B52;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
img{width: 100%;}
.map {margin: auto; 
  
  padding: 20.0000vw 2.0000vw;
  flex-direction: column;
  align-items: center;
  gap: 14.0000vw;
  align-self: stretch;
  
}
.mapSvg {width: 100%;}

.mapTxt{
  


font-size: 4.0000vw;
font-style: normal;

line-height: normal;
}
.mapTxt p{-webkit-text-stroke-width: 0.5000vw;
  -webkit-text-stroke-
  font-size: 8.0000vw;
  letter-spacing: 0.3562vw;}
.mapTxt span{letter-spacing: 0.2078vw;}



/* 공통 */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
.food .listBox {}

.food .listBox li {
  
}
.food .listBox li.on {
  
}

.top{
  
  padding: 12.0000vw 0.0000vw;
  flex-direction: column;
  align-items: center;
  gap: 7.0000vw;
  align-self: stretch;
  
}
.food .listBox .list {width: 95vw; margin: auto; padding-bottom: 20.0000vw;}
.food .listBox li .topTxt p{margin-bottom: 10.0000vw;}
.food dl dt {
  
  align-items: center;
  justify-
  margin: 6vw 0;
}
.food .listBox .list dl dt .img {width: 50vw; padding-right: 5vw; 
  
  align-items: center;
  justify-}
.food .listBox .list dl dt div{width: 50vw; }

.food .listBox li .list .name {
  border-bottom: 0.2000vw dashed #919191;
  
  align-items: flex-start;
  gap: 2.0000vw;
  align-self: stretch;
  
  
  font-size: 4.0000vw;
  font-style: normal;
  
  line-height: 5.0000vw;
  padding-bottom: 2.0000vw;
  }
  
  
  
  .food .listBox li .list .desc {
  
  font-size: 3.2000vw;}

  .food .listBox li .list .num {
    
    
    
    font-size: 3.2000vw;
    
    line-height: 4.6000vw;
    width: 4.6000vw;
    height: 4.6000vw;
    border-radius: 10.0000vw;
    counter-reset: number 0;
    }
 
/* lepicerie------------------------------------------ */
.listBox .lepicerie.top{background: linear-gradient(180deg, #122E16 39.33%, #FFF 99.87%);}
.lepicerie .num { background: #122E16;}
.lepicerie .service .serTitle {font-size: 6.6000vw; margin: 6.0000vw auto; padding-top: 10.0000vw; }
.lepicerie .service img {width: 46vw; padding-right: 5vw; }
.lepicerie .topTxt span {  }
/* dining------------------------------------------ */
.food .listBox li .dining.top{
  background: linear-gradient(180deg, #EA5728 39.33%, #FFF 99.87%);
  }
.dining .num { background: #EA5728;}
.dining .topTxt span {  }

/* Bakery Dessert------------------------------------------------ */
.food .listBox li .BakD.top{
  background: linear-gradient(180deg, #8C86BF 39.33%, #FFF 99.87%);
  }
.BakD .num { background: #8C86BF;}
.BakD .topTxt span {  }
/* Deli------------------------------------------------ */
.food .listBox li .Del.top{
  background: linear-gradient(180deg, #87B9CA 39.33%, #FFF 99.87%);
  }
.Del .num { background: #87B9CA ;}
.Del .topTxt span {  }
/* L Vino------------------------------------------------ */

.food .listBox li .Lvino.top{
  background: 
  linear-gradient(180deg, rgba(138, 75, 82, 1) 20%, rgba(138, 75, 82, 0) 50%),
  url(../images/lvino_bg.jpg);

background-position: 38% -10%;

padding-bottom: 95vw;
}


.Lvino .topTxt span {  }

.Lvino.bottom {
  justify-
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: rgba(138, 75, 82, 1);}
 
.Lvino.bottom img {width: 40vw;}
 

 
.topbtn {
  
  right: 5%;
  bottom: 10.0000vw;
  width: 16.0000vw;
  height: 16.0000vw;
  border-radius: 50%;
  
  
  background: #121212;
  
  cursor: pointer;
 
}

.topbtn.on {
  
  animation: opacity 0.5s linear;
}
@keyframes opacity {
  0%{opacity:0}
  100%{opacity:1}
}

.topbtn i {
  font-size: 7.0000vw;
  line-height: 16.0000vw;
  animation: bounce 1s infinite linear;
}

  @keyframes bounce {
    0% {
      transform: translateY(1.0000vw);
    }

    50% {
      transform: translateY(-1.0000vw);
    }

    100% {
      transform: translateY(1.0000vw);
    }
  } 
