@charset "utf-8";
@import "reset.css";
@import "tab-menu--fixed.css";
@import "swiper-custom.css";
@import "toggle-box.css";

/* tab-menu--fixed [S] */

  nav{
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
.food .Tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.food .Tab li {
  width: 20%;
  background: #000;
  font-size: 18px;
  color: #fff;
  height: 80px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



.food .Tab li:nth-child(1):hover
{
  background: #122E16;
}
.food .Tab li:nth-child(2):hover
{
  background: #EA5728;
}.food .Tab li:nth-child(3):hover
{
  background: #8C86BF;
}.food .Tab li:nth-child(4):hover
{
  background: #87B9CA;
}.food .Tab li:nth-child(5):hover
{
  background: #8A4B52;
}


.food .Tab li:nth-child(1).on
{
  background: #122E16;
}
.food .Tab li:nth-child(2).on
{
  background: #EA5728;
}.food .Tab li:nth-child(3).on
{
  background: #8C86BF;
}.food .Tab li:nth-child(4).on{
  background: #87B9CA;
}
.food .Tab li:nth-child(5).on
{
  background: #8A4B52;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
img{width: 100%;}
.map {margin: auto; text-align: center;
  display: flex;
  padding: 100px 10px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  
}
.mapSvg {width: 100%;}

.mapTxt{
  color: #000;
text-align: center;
font-family: "Gowun Dodum";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mapTxt p{-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #000;
  font-size: 50px;
  letter-spacing: 1.781px;}
.mapTxt span{letter-spacing: 1.039px;}



/* 공통 */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
.food .listBox {text-align: center;}

.food .listBox li {
  display: none;
}
.food .listBox li.on {
  display: block;
}

.top{
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  align-self: stretch;
  color: #FFF;
}
.food .listBox .list {width: 95vw; margin: auto; padding-bottom: 100px;}
.food .listBox li .topTxt p{margin-bottom: 50px;}
.food dl dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6vw 0;
}
.food .listBox .list dl dt .img {width: 50vw; padding-right: 5vw; box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;}
.food .listBox .list dl dt div{width: 50vw; }

.food .listBox li .list .name {
  border-bottom: 1px dashed #919191;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #333;
  font-family: "Gowun Dodum";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  padding-bottom: 10px;
  }
  
  
  
  .food .listBox li .list .desc {
  text-align: left;
  font-size: 16px;}

  .food .listBox li .list .num {
    color: #fff;
    text-align: center;
    font-family: Optima Medium;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    counter-reset: number 0;
    }
 
/* lepicerie------------------------------------------ */
.listBox .lepicerie.top{background: linear-gradient(180deg, #122E16 39.33%, #FFF 99.87%);}
.lepicerie .num { background: #122E16;}
.lepicerie .service .serTitle {font-size: 33px; margin: 30px auto; padding-top: 50px; font-weight: 600;}
.lepicerie .service img {width: 46vw; padding-right: 5vw; box-sizing: border-box;}
.lepicerie .topTxt span { color: #122E16; font-weight: 600;}
/* dining------------------------------------------ */
.food .listBox li .dining.top{
  background: linear-gradient(180deg, #EA5728 39.33%, #FFF 99.87%);
  }
.dining .num { background: #EA5728;}
.dining .topTxt span { color: #EA5728; font-weight: 600;}

/* Bakery Dessert------------------------------------------------ */
.food .listBox li .BakD.top{
  background: linear-gradient(180deg, #8C86BF 39.33%, #FFF 99.87%);
  }
.BakD .num { background: #8C86BF;}
.BakD .topTxt span { color: #8C86BF; font-weight: 600;}
/* Deli------------------------------------------------ */
.food .listBox li .Del.top{
  background: linear-gradient(180deg, #87B9CA 39.33%, #FFF 99.87%);
  }
.Del .num { background: #87B9CA ;}
.Del .topTxt span { color: #87B9CA; font-weight: 600;}
/* L Vino------------------------------------------------ */

.food .listBox li .Lvino.top{
  background: 
  linear-gradient(180deg, rgba(138, 75, 82, 1) 20%, rgba(138, 75, 82, 0) 50%),
  url(../images/lvino_bg.jpg);
background-repeat: no-repeat;
background-position: 38% -10%;
background-size: 190vw;
padding-bottom: 95vw;
}


.Lvino .topTxt span {  font-weight: 600;}

.Lvino.bottom {display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: rgba(138, 75, 82, 1);}
 
.Lvino.bottom img {width: 40vw;}
 

 
.topbtn {
  position: fixed;
  right: 5%;
  bottom: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #121212;
  display: none;
  cursor: pointer;
 
}

.topbtn.on {
  display: block;
  animation: opacity 0.5s linear;
}
@keyframes opacity {
  0%{opacity:0}
  100%{opacity:1}
}

.topbtn i {
  font-size: 35px;
  line-height: 80px;
  animation: bounce 1s infinite linear;
}

  @keyframes bounce {
    0% {
      transform: translateY(5px);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(5px);
    }
  } 
